@{
    ViewData["Title"] = "Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3 class="text-white">Danhb sách kết quả chuẩn đoán</h3>
<div id="resultContainer" class="pt-3 m-auto alert-heading text-monospace text-left" style="max-height: calc(100vh - 150px); overflow-y: auto;">
    <table class="table table-bordered text-white">
        <thead>
            <tr>
                <th class="col-1 align-content-center text-center">Bệnh</th>
                <th class="col-1 align-content-center text-center">Số triệu chứng khớp</th>
                <th class="col-1 align-content-center text-center">Tỷ lệ khớp (%)</th>
                <th class="col-4 align-content-center text-center">Triệu chứng thiếu</th>
                <th class="col-4 align-content-center text-center">Triệu chứng khớp</th>
            </tr>
        </thead>
        <tbody style="max-height: calc(100vh - 150px); overflow-y: auto;">
            @if (ViewBag.MatchedDiseases != null && ViewBag.MatchedDiseases.Count > 0)
            {
                foreach (var disease in ViewBag.MatchedDiseases)
                {
                    <tr>
                        <td class="align-content-center">@disease.DiseaseName</td>
                        <td class="align-content-center text-center">@disease.MatchingCount</td>
                        <td class="align-content-center text-center">@disease.MatchScore.ToString("F2")</td>
                        <td class="align-content-center text-justify">
                            @if (disease.MissingSymptoms != null)
                            {
                                <ul style="padding: 10px;">
                                    @foreach (var symptom in disease.MissingSymptoms)
                                    {
                                        <li>@symptom</li>
                                    }
                                </ul>
                            }
                            else
                            {
                                <span>Không có triệu chứng thiếu</span>
                            }
                        </td>
                        <td class="align-content-center text-justify">
                            @if (disease.MatchedSymptoms != null)
                            {
                                <ul style="padding: 10px;">
                                    @foreach (var symptom in disease.MatchedSymptoms)
                                    {
                                        <li>@symptom</li>
                                    }
                                </ul>
                            }
                            else
                            {
                                <span>Không có triệu chứng khớp</span>
                            }
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5">Không có kết quả nào để hiển thị.</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<a type="button" class="btn btn-outline-light w-100" asp-controller="Diagnosis" asp-action="Index">Quay lại</a>
