@model HTHCG.Models.Symptom
@{
    ViewData["Title"] = "ListSys";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="text-white p-3">Danh sách triệu chứng bệnh</h2>
@if (TempData["AlertMessage"] != null)
{
    <div id="AlertBox" class="alert @TempData["AlertType"] hide" role="alert">
        @TempData["AlertMessage"]
    </div>
}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 alert-heading text-monospace text-left border-bottom" style="max-height: calc(100vh - 150px); overflow-y: auto;">
            <table class="table table-bordered text-white">
                <thead>
                    <tr>
                        <th class=" text-center">Triệu chứng bệnh</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.Sys)
                    {
                        <tr>
                            <td>
                                @(item.NameSym)
                            </td>
                            <td class="text-center" width="24">
                                <a type="button" class="btn edit-btn" data-toggle="modal" data-target="#exampleModal" onclick="editform('@item.IdSym');" data-id="@item.IdSym">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="24"><path fill="#fff" d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z" /></svg>
                                </a>
                            </td>
                            <td class="text-center" width="24">
                                <a type="button" class="btn" data-toggle="modal" data-target="#confirmDeleteModal" onclick="removeform('@item.IdSym');" data-id="@item.IdSym">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="24"><path fill="#fff" d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z" /></svg>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="pt-sm-5 col-lg-4 col-md-4 col-sm-12 m-auto">
            <form class="pb-5 pt-5" asp-action="SysSearch" asp-controller="SysController1" method="get">
                <input class="form-control me-2 pt-4 pb-4 mb-3" type="search" name="Name" placeholder="Tìm kiếm tên" aria-label="Search">
                <button class="btn btn-outline-light w-100" type="submit">Tìm kiếm</button>
            </form>
            <form class="pb-5 pt-5" asp-action="SymCreate" asp-controller="SysController1" method="post">
                <input class="form-control me-2 pt-4 pb-4 mb-3" name="txtInput" type="text" placeholder="Thông tin tạo thêm" aria-label="Input">
                <button class="btn btn-outline-light w-100" type="submit">Tạo mới</button>
            </form>
            <form class="pb-5 pt-5" asp-action="ListSys" asp-controller="SysController1">
                <button class="btn btn-outline-light w-100" type="submit">Tải lại danh sách</button>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="saveform">
                <div class="modal-header">
                    <div class="d-flex m-auto">
                        <h5 class="modal-title" id="exampleModalLabel">Sửa dữ liệu triệu chứng </h5>
                        <input class="border-0" style="background: none;" id="editItemId" disabled>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input id="empName" class="form-control me-2 pt-4 pb-4 mb-3" type="text" name="txtinput" placeholder="Thông tin tạo thêm" aria-label="Input">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary" id="btnSave">Lưu</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-group">
                    <span>Bạn có muốn xóa dữ liệu mã: </span> <input class="border-0" style="background: none;" id="Idremove" disabled>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
                <button type="button" class="btn btn-primary" id="confirmDelete">Có</button>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    var editform = function (id) {
        $.ajax({
            url: "/SysController1/SymEdit",
            type: "GET",
            data: {
                id: id // Truyền ID là chuỗi
            },
            success: function (model) {
                console.log("Data received:", model); // Ghi ra dữ liệu nhận được để kiểm tra

                if (model) {
                    $("#exampleModal").modal('show'); // Hiển thị modal
                    $("#empName").val(model.nameSym); // Điền tên vào trường
                    $("#editItemId").val(model.idSym); // Điền ID vào trường ẩn
                    console.log("Data received:", model);
                } else {
                    alert("Item not found!"); // Nếu không tìm thấy item
                }
            }
        });
    }

    $("#btnSave").click(function () {
        var idSym = $("#editItemId").val();
        var nameSym = $("#empName").val();

        // Kiểm tra lại dữ liệu đầu vào
        console.log("idSym:", idSym);
        console.log("nameSym:", nameSym);
        $.ajax({
            url: "/SysController1/SymEdit", // Đường dẫn tới file PHP xử lý
            type: "POST", // Phương thức POST
            data: {
                id: idSym, // Gửi ID
                name: nameSym // Gửi tên
            },
            success: function (response) {
                alert("Lưu thành công");
                // Đóng modal sau khi lưu thành công
                $("#exampleModal").modal('hide');
                // Reload trang sau khi lưu thành công
                location.reload();
            },
            error: function () {
                alert("Error saving data."); // Thông báo nếu có lỗi
            }
        });
    });


    var removeform = function (id) {
        console.log("idSym:", id);
        $("#confirmDeleteModal").modal('show'); // Hiện modal xác nhận
        $("#Idremove").val(id); // Đặt ID vào trường ẩn
    }

    // Khi nhấn nút xác nhận xóa
    $("#confirmDelete").click(function () {
        var idToRemove = $("#Idremove").val(); // Lấy ID từ trường ẩn

        $.ajax({
            url: '/SysController1/SymRemove', // Đường dẫn tới action xóa triệu chứng
            type: 'POST',
            data: {
                id: idToRemove // Gửi ID triệu chứng cần xóa
            },
            success: function (response) {
                alert("Xóa thành công");
                location.reload();
            },
            error: function () {
                alert("Error deleting symptom."); // Thông báo lỗi nếu có
            }
        });
    });
</script>
<script>
    $(function () {
        $('#AlertBox').removeClass('hide');
        $('#AlertBox').delay(2000).slideUp(500);
    });

</script>